@use "sass:map";
@use "@ogs-gmbh/ogsid-11-theme" as ogsid-11-theme;

@mixin vars() {
  :root {
    --vp-c-brand-1: #{map.get(ogsid-11-theme.$petrol-palette, 80)} !important;
    --vp-c-brand-2: #{map.get(ogsid-11-theme.$petrol-palette, 95)} !important;
  }
}

@mixin all() {
  @include vars();
}

