@use "sass:map";
@use "@ogs-gmbh/ogsid-11-theme" as ogsid-11-theme;

@mixin vars() {
  :root {
    --vp-button-brand-bg: #{map.get(ogsid-11-theme.$petrol-palette, 50)} !important;
    --vp-button-brand-hover-bg: #{map.get(ogsid-11-theme.$petrol-palette, 30)} !important;
  }
}

@mixin base() {
  .VPButton.medium {
    border-radius: 8px !important;
  }
}

@mixin all() {
  @include vars();
  @include base();
}
