@use "sass:map";
@use "@ogs-gmbh/ogsid-11-theme" as ogsid-11-theme;

@mixin vars() {
  :root {
    --ogs-sidebar-width: 300px;
    --vp-sidebar-width: var(--ogs-sidebar-width) !important;
  }
}

@mixin colors() {
  /* Light */
  .VPSidebar {
    background-color: #{map.get(ogsid-11-theme.$blue-gray-palette, 900)} !important;
  }

  .VPSidebar .group + .group {
    border-top-color: #{map.get(ogsid-11-theme.$cyan-palette, 900)} !important;
  }

  .VPSidebarItem .items {
    border-left-color: #{map.get(ogsid-11-theme.$cyan-palette, 900)} !important;
  }

  .VPSidebarItem.level-0 > .item .text {
    color: #{map.get(ogsid-11-theme.$gray-palette, 50)} !important;
  }

  .VPSidebarItem.level-1 > .item > .text,
  .VPSidebarItem.level-1 > .item > .link .text {
    color: #{map.get(ogsid-11-theme.$gray-palette, 50)} !important;
  }

  .VPSidebarItem.level-2 .text,
  .VPSidebarItem.level-1.is-link .text {
    color: #{map.get(ogsid-11-theme.$gray-palette, 400)} !important;
  }

  .VPSidebarItem > .item > .indicator {
    background-color: transparent !important;
  }

  .VPSidebarItem.is-link > .item > .link:hover .text {
    color: #{map.get(ogsid-11-theme.$deep-orange-palette, 400)} !important;
  }

  .VPSidebarItem.is-active > .item > .link .text {
    color: #{map.get(ogsid-11-theme.$deep-orange-palette, 400)} !important;
  }

  .VPSidebarItem.has-active:not(.is-active) > .item > .indicator {
    background-color: transparent !important;
  }

  .VPSidebarItem.is-active > .item > .indicator,
  .VPSidebarItem.level-1.is-active > .item > .indicator,
  .VPSidebarItem.level-2.is-active > .item > .indicator {
    background-color: #{map.get(ogsid-11-theme.$deep-orange-palette, 400)} !important;
  }

  /* Dark */
  html.dark {
    .VPSidebar {
      background-color: #{map.get(ogsid-11-theme.$gray-palette, 800)} !important;
    }

    .VPSidebar .group + .group {
      border-top-color: #{map.get(ogsid-11-theme.$gray-palette, 700)} !important;
    }

    .VPSidebarItem .items {
      border-left-color: #{map.get(ogsid-11-theme.$gray-palette, 700)} !important;
    }

    .VPSidebarItem.level-0 > .item .text {
      color: #{map.get(ogsid-11-theme.$gray-palette, 50)} !important;
    }

    .VPSidebarItem.level-1 > .item > .text,
    .VPSidebarItem.level-1 > .item > .link .text {
      color: #{map.get(ogsid-11-theme.$gray-palette, 50)} !important;
    }

    .VPSidebarItem.level-2 .text,
    .VPSidebarItem.level-1.is-link .text {
      color: #{map.get(ogsid-11-theme.$gray-palette, 400)} !important;
    }

    .VPSidebarItem > .item > .indicator {
      background-color: transparent !important;
    }

    .VPSidebarItem.is-link > .item > .link:hover .text {
      color: #{map.get(ogsid-11-theme.$deep-orange-palette, 400)} !important;
    }

    .VPSidebarItem.is-active > .item > .link .text {
      color: #{map.get(ogsid-11-theme.$deep-orange-palette, 400)} !important;
    }

    .VPSidebarItem.has-active:not(.is-active) > .item > .indicator {
      background-color: transparent !important;
    }

    .VPSidebarItem.is-active > .item > .indicator,
    .VPSidebarItem.level-1.is-active > .item > .indicator,
    .VPSidebarItem.level-2.is-active > .item > .indicator {
      background-color: #{map.get(ogsid-11-theme.$deep-orange-palette, 400)} !important;
    }
  }
}

@mixin spacing() {
  .VPSidebar .nav {
    padding-top: 0 !important;
  }

  .VPSidebar .group {
    padding-top: var(--ogs-doc-space-sm) !important;
    padding-bottom: 0 !important;
  }

  .VPSidebar .group + .group {
    margin-top: var(--ogs-doc-space-md) !important;
    padding-top: var(--ogs-doc-space-md) !important;
  }

  .VPSidebarItem {
    margin: 0 !important;
    padding: 0 !important;
  }

  .VPSidebarItem > .item {
    display: flex !important;
    align-items: center !important;

    min-height: 24px !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .VPSidebarItem > .item > .indicator {
    top: 0 !important;
    bottom: auto !important;
    left: -17px !important;

    width: 2px !important;
    height: 24px !important;

    border-radius: 2px !important;
    transform: none !important;
  }

  .VPSidebarItem .link {
    display: flex !important;
    align-items: center !important;

    min-height: 24px !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .VPSidebarItem .text {
    margin: 0 !important;
    padding: 0 !important;

    line-height: 20px !important;
  }

  .VPSidebarItem.level-0 > .items {
    margin-top: var(--ogs-doc-space-xs) !important;
  }

  .VPSidebarItem.level-1 > .items {
    margin-top: var(--ogs-doc-space-xs) !important;
  }

  .VPSidebarItem + .VPSidebarItem {
    margin-top: var(--ogs-doc-space-2xs) !important;
  }

  .VPSidebarItem.level-1 > .item {
    margin-top: 0 !important;
  }

  .VPSidebarItem .items {
    padding-left: var(--ogs-doc-space-md) !important;
    border-left-width: 1px !important;
    border-left-style: solid !important;
  }

  .VPSidebarItem.level-0 > .items {
    padding-left: 0 !important;
    border-left: 0 !important;
  }

  @media (min-width: 960px) and (max-width: 1439px) {
    .VPSidebar {
      padding-left: var(--ogs-doc-space-md) !important;
      padding-right: var(--ogs-doc-space-md) !important;
    }
  }

  @media (min-width: 1440px) {
    .VPSidebar {
      padding-left: max(
        var(--ogs-doc-space-xl),
        calc((100% - (var(--vp-layout-max-width) - 64px)) / 2)
      ) !important;

      padding-right: var(--ogs-doc-space-md) !important;
    }
  }
}

@mixin type() {
  .VPSidebarItem.level-0 > .item .text {
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.1px !important;
    font-weight: 500 !important;
  }

  .VPSidebarItem.level-1 > .item .text,
  .VPSidebarItem.level-2 > .item .text {
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.25px !important;
    font-weight: 400 !important;
  }
}

@mixin all() {
  @include vars();
  @include colors();
  @include spacing();
  @include type();
}
