@use "sass:map";
@use "@ogs-gmbh/ogsid-11-theme" as ogsid-11-theme;

@mixin colors() {
  /* Light */
  .VPDocAsideOutline .content {
    border-left-color: #{map.get(ogsid-11-theme.$gray-palette, 300)} !important;
  }

  .VPDocAsideOutline .outline-title {
    color: #{map.get(ogsid-11-theme.$gray-palette, 900)} !important;
  }

  .VPDocAsideOutline .outline-link {
    color: #{map.get(ogsid-11-theme.$gray-palette, 700)} !important;
  }

  .VPDocAsideOutline .outline-link:hover {
    color: #{map.get(ogsid-11-theme.$gray-palette, 900)} !important;
  }

  .VPDocAsideOutline .outline-link.active {
    color: #{map.get(ogsid-11-theme.$orange-palette, 700)} !important;
  }

  .VPDocAsideOutline .outline-marker {
    background-color: #{map.get(ogsid-11-theme.$orange-palette, 700)} !important;
  }

  /* Dark */
  html.dark {
    .VPDocAsideOutline .content {
      border-left-color: #{map.get(ogsid-11-theme.$gray-palette, 800)} !important;
    }

    .VPDocAsideOutline .outline-title {
      color: #{map.get(ogsid-11-theme.$gray-palette, 50)} !important;
    }

    .VPDocAsideOutline .outline-link {
      color: #{map.get(ogsid-11-theme.$gray-palette, 500)} !important;
    }

    .VPDocAsideOutline .outline-link:hover {
      color: #{map.get(ogsid-11-theme.$gray-palette, 50)} !important;
    }

    .VPDocAsideOutline .outline-link.active {
      color: #{map.get(ogsid-11-theme.$deep-orange-palette, 400)} !important;
    }

    .VPDocAsideOutline .outline-marker {
      background-color: #{map.get(ogsid-11-theme.$deep-orange-palette, 400)} !important;
    }
  }
}

@mixin spacing() {
  .VPDocAside,
  .VPDocAsideOutline {
    padding-top: 0 !important;
  }

  .VPDocAsideOutline > .content {
    padding-left: var(--ogs-doc-space-md) !important;
    border-left-width: 1px !important;
  }

  .VPDocAsideOutline .outline-title {
    margin-top: 0 !important;
    margin-bottom: var(--ogs-doc-space-xs) !important;

    font-family: var(--ogs-font-body) !important;
    font-size: var(--ogs-type-title-small-size) !important;
    line-height: var(--ogs-type-title-small-line) !important;
    letter-spacing: var(--ogs-type-title-small-letter) !important;
    font-weight: var(--ogs-type-title-small-weight) !important;
  }

  .VPDocAsideOutline .root {
    margin: 0 !important;
    padding: 0 !important;
  }

  .VPDocAsideOutline li {
    margin: 0 !important;
    padding: 0 !important;
  }

  .VPDocAsideOutline li + li {
    margin-top: var(--ogs-doc-space-2xs) !important;
  }

  .VPDocAsideOutline .outline-link {
    min-height: 24px !important;
    line-height: var(--ogs-type-body-medium-line) !important;
    padding: 2px 0 !important;

    font-family: var(--ogs-font-body) !important;
    font-size: var(--ogs-type-body-medium-size) !important;
    letter-spacing: var(--ogs-type-body-medium-letter) !important;
    font-weight: var(--ogs-type-body-medium-weight) !important;
    text-decoration: none !important;

    display: block !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }

  .VPDocAsideOutline .outline-marker {
    left: -1px !important;
    z-index: 0 !important;

    width: 2px !important;
    height: 18px !important;

    border-radius: 2px !important;

    transform: translateY(-7px) !important;

    transition:
      top 0.25s cubic-bezier(0, 1, 0.5, 1),
      background-color 0.5s,
      opacity 0.25s !important;
  }
}

@mixin all() {
  @include colors();
  @include spacing();
}
